/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #nav .subnav a {
        line-height: 46px;
    }



    .social i[class*="fa-"] {
        margin: 0 10px;
        font-size: 28px;
    }



    .copyright {
        margin-top: 35px;
        font-size: 18px;
    }
}






/* Mobile */
@media (max-width: 46.1875em) {
    #header {
        overflow: hidden;
    }



    #nav {
        display: block;
    }



    #nav li {
        display: block;
    }



    #nav li:first-child {
        display: inline-block;
    }



    .search-btn {
        display: none;
    }



    .menu-mobile-btn {
        display: block;
    }



    #nav .subnav {
        position: initial;
        background: #333;
    }



    #nav .subnav a {
        color: #fff;
        line-height: 46px;
        padding: 0 50px;
    }



    .text-content {
        display: none;
    }



    .members-img {
        width: 60%;
    }



    .places-body,
    .places-body h3 {
        font-size: 16px;
    }



    .social i[class*="fa-"] {
        margin: 0 10px;
        font-size: 23px;
    }



    .copyright {
        margin-top: 35px;
        font-size: 16px;
    }



    .s-col-full,
    .s-full-width {
        width: 100%;
    }



    .s-mt-8 {
        margin-top: 8px;
    }



    .s-mt-16 {
        margin-top: 16px;
    }



    .s-mt-32 {
        margin-top: 32px;
    }



    .s-font-size-15 {
        font-size: 15px;
    }
}



/* Tablet AND Mobile */
@media (max-width: 63.9375em) {
    .contact-info {
        line-height: 2;
    }
}